EXPO_PUBLIC_WC_KEY=your_consumer_key_here
EXPO_PUBLIC_WC_SECRET=your_consumer_secret_here
EXPO_PUBLIC_WC_URL=https://your-website.com/wp-json/wc/v3/
EXPO_PUBLIC_SITE_URL=https://your-website.com
EXPO_PUBLIC_ADMIN_URL=https://your-website.com/wp-admin/
EXPO_PUBLIC_SUPPORT_EMAIL=info@your-website.com
